body {
    width: 450px;
    max-height: 400px;
}
.alert {
    position:fixed;
    bottom: 6px;
    left: 40%;
    margin: 0 !important;
    padding: .25em !important;
}
.tutorial {
    position: absolute;
    bottom:2px;
    left:8px;
    font-size: 13px;
    text-decoration: none;
}
.website {
    position: absolute;
    bottom: 0;
    right: 8px;
    font-size: 13px;
    text-decoration: none;
}